<%- include('partials/header', { title: title }) %>

<main>
    <div class="container">
        <h1><%= title %></h1>
        <h2>We offer these categories of service opportunities:</h2>
        
        <ul class="categories-list">
            <% categories.forEach(category => { %>
                <li>
                    <a href="/category/<%= category.category_id %>" class="category-name">
                        <%= category.name %>
                    </a>
                    
                    <a href="/edit-category/<%= category.category_id %>" class="edit-link">
                        Edit
                    </a>
                </li>
            <% }); %>
        </ul>
    </div>
</main>

<%- include('partials/footer') %>